@import "../style/app.scss";
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  @media (max-width: $media-xs) {
    position: absolute;
  }
  nav {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: $media-xlg) {
      padding-left: 60px;
      padding-right: 60px;
    }
    @media (max-width: $media-lg) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media (max-width: $media-md) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: $media-xs) {
      padding-left: 30px;
      padding-right: 30px;
    }
    .logo {
      z-index: 999;
      position: relative;
      h1 {
        margin: 0;
        padding: 0;
        color: $red;
        font-weight: $semi-bold;
        font-family: $font-2;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      writing-mode: tb-rl;
      position: fixed;
      right: 80px;
      top: 30px;

      @media (max-width: $media-xlg) {
        right: 60px;
      }
      @media (max-width: $media-lg) {
        right: 50px;
      }
      @media (max-width: $media-md) {
        right: 40px;
      }
      @media (max-width: $media-xs) {
        right: 30px;
      }

      &__list {
        padding-top: 15px;
        padding-bottom: 15px;
        list-style: none;
        &:first-child {
          padding-top: 0;
        }
        &__link {
          color: $white;
          font-size: 16px;
          line-height: normal;
          transition: 0.3s ease-in-out;
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}
